body {
    color: #FCFFA6;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: aliceblue;
    
    
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5.75rem;
    margin: 50px auto 0 auto;
}

h2 {
    font-size: 2.5rem;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
}


h3 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
}



.top-container {
    background-color: #B5DEFF;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin-top: 100px;
}

.bottom-container {
    background-color: #CC1FFD7F;
    margin-bottom: 0;
    padding: 30 0 20;
    margin-top: 50px;
}

.cloud-top {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 300px;
    top: 100px;
    
}

.cloud-bottom {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 300px;
    top: 190px;
    
}

.copyright {
    color: white;
}

.sun {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 70px;
    right: 500px;
}

.imagem-principal {
    width: 20%;
    height: 40%;
}

.imagens-cidade {
    margin-top: 80px;
}

.pro {
    margin-top: 30px;
}



.nerd {
    width: 10%;
    margin-bottom: 30px;
}

.ola {
    margin-top: 20px;
}

.intro {
    width: 30%;
    margin: auto;
}

.habilidade{
    width: 30%;
    margin: auto;
    color:  black;
    margin-bottom: 20px;
    margin-top: 20px;
}

hr {
    margin-top: 30px;
    width: 30%;
}
a {
    margin: 10px 20px;
   text-decoration: none;
}

a:hover {
    color: #FCFFA6;

}

.imagem {

width: 120px;
height: 120px;
margin-top: 10px;
}

.hr-habilidades {
    border: dotted #080808 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto;

}