a {
    margin: 10px 20px;
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #FCFFA6;

}

body {
    color: #FCFFA6;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: white;   
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5.75rem;
    margin: 50px auto 0 auto;
}

h2 {
    font-size: 2.5rem;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
}


h3 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
}

hr {
    border: dotted #080808 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto;
}

.apresentacao {
    text-align: center;
}

.bottom-container {
    background-color: #B5DEFF;
    margin-bottom: 0;
    padding: 30 0 20;
    margin-top: 0px;
}

.copyright {
    color: white;
}

.habilidade{
    width: 30%;
    margin: auto;
    color:  black;
    margin-bottom: 20px;
    margin-top: 20px;
}
.intro {
    width: 30%;
    margin: auto;
}

.top-container {
    background-color: #B5DEFF;
    position: relative;
    padding-top: 100px;
}

.ola {
    margin-top: 20px;
}

.pro {
    margin-top: 30px;
}


/* Imagens */

.nerd {
    width: 10%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.cloud-top {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 300;
    top: 100px;  
}

.cloud-bottom {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 300;
    top: 200px; 
}

.imagem {

    width: 120px;
    height: 120px;
    margin-top: 10px;
}

.imagem-principal {
    margin-top: 40px;
    width: 20%;
    height: 60%;
}

.sun{
    margin-top: 10px;
    width: 100px;
    height: 100px;
}  

/* Navigation Bar */

.navbar {
    padding: auto;  
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

/* Contato */

.btn {
    margin-top: 50px;
    background: #CAB8FF;
    background-image: -webkit-linear-gradient(top, #CAB8FF, #CAB8FF);
    background-image: -moz-linear-gradient(top, #CAB8FF, #CAB8FF);
    background-image: -ms-linear-gradient(top, #CAB8FF, #CAB8FF);
    background-image: -o-linear-gradient(top, #CAB8FF, #CAB8FF);
    background-image: linear-gradient(to bottom, #CAB8FF, #CAB8FF);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 8px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #C1FFD7;
    background-image: -webkit-linear-gradient(top, #C1FFD7, #C1FFD7);
    background-image: -moz-linear-gradient(top, #C1FFD7, #C1FFD7);
    background-image: -ms-linear-gradient(top, #C1FFD7, #C1FFD7);
    background-image: -o-linear-gradient(top, #C1FFD7, #C1FFD7);
    background-image: linear-gradient(to bottom, #C1FFD7, #C1FFD7);
    text-decoration: none;
  }



